<!DOCTYPE html>
<html lang="en">
<head>
  <title>GREEN LIGHT DFS</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="mt-4">
      <strong>Slate:</strong> {{slate.name}} ({{slate.data_source}})
      <strong class="ml-3">Last Updated:</strong> {{last_updated}}
    </div>

    <div class="mt-5" style="width: 360px;">
      <h4 class="text-primary my-4">Game Information</h4>
      <table class="table table-hover table-sm">
        <thead style="height: 40px;">
          <tr>
            <th>Visit</th>
            <th>Home</th>
            <th style="width: 100px;">O/U</th>
            <th style="width: 100px;">Time</th>
          </tr>
        </thead>
        <tbody data-model="Game">
          {% for game in games %}
          <tr data-id="{{game.id}}">
            <td class="align-middle">{{game.visit_team}}</td>
            <td class="align-middle">{{game.home_team}}</td>
            <td data-field="ou"><input type="text" class="form-control" value="{{game.ou}}"></td>
            <td data-field="time"><input type="text" class="form-control" value="{{game.time}}"></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="mb-4">
      <h4 class="text-primary my-4">Player Information</h4>
    </div>

    <div class="mb-5" style="height: 760px; overflow-y: scroll;">
      <table class="table table-hover table-sm">
        <thead style="height: 40px;">
          <tr>
            <th style="width: 180px;">Name</th>
            <th>ID</th>
            <th>Team</th>
            <th>Opp</th>
            <th style="width: 100px;">Position</th>
            <th style="width: 80px;">Hand</th>
            <th style="width: 80px;">Ord</th>
            <th style="width: 100px;">Salary</th>
            <th style="width: 100px;">Projection</th>
            <th style="width: 100px;">Injury</th>
            <th style="width: 50px;">Conf</th>
          </tr>
        </thead>
        <tbody data-model="Player">
          {% for player in players %}
          <tr data-id="{{player.id}}">
            <td class="align-middle">{{player.first_name}} {{player.last_name}}</td>
            <td class="align-middle">{{player.rid}}</td>
            <td class="align-middle">{{player.team}}</td>
            <td class="align-middle">{{player.opponent}}</td>
            <td data-field="actual_position"><input type="text" class="form-control" value="{{player.actual_position}}"></td>
            <td data-field="handedness"><input type="text" class="form-control" value="{{player.handedness}}"></td>
            <td data-field="start"><input type="text" class="form-control" value="{{player.start}}"></td>
            <td data-field="salary"><input type="number" step="1" class="form-control" value="{{player.salary}}"></td>
            <td data-field="proj_points"><input type="number" class="form-control" value="{{player.proj_points}}"></td>
            <td data-field="injury"><input type="text" class="form-control" value="{{player.injury}}"></td>
            <td data-field="start_status" class="align-middle text-center"><input class="checkbox" type="checkbox" {% if player.start_status %}checked{% endif %}></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script type="text/javascript">
    $('input').change(function() {
      var model = $(this).parents('tbody').data('model');
      var id = $(this).parents('tr').data('id');
      var field = $(this).parent().data('field');
      var val = $(this).val();

      if ($(this).hasClass('checkbox')) {
        val = $(this).prop('checked');
      }

      var data = { model, id, field, val };

      $.post( "/update-field", data, function( data ) {});
    })
  </script>
</body>
</html>
