<div class="row mr-0">
{% for ii in teams %}
  <div class="col-md-6 mb-2 mt-1 px-1">
    <div class="d-flex team-stack-item tm_{{ ii }}" data-team="{{ ii }}">
        <img src="/static/img/teams/{{ ii }}.jpg" style="height: 30px;">
        <input type="number" class="ml-1 pl-1 rounded border border-light team-percent text-right" min="0" max="100" step="1">
        <span class="ml-1 mt-1 mr-3">%</span>
        <span class="mr-2 mt-1 team-min">1</span>
        <div class="slider-range mx-1"></div>
        <span class="ml-2 mt-1 team-max">4</span>
    </div>
  </div>
{% endfor %}
</div>