<!DOCTYPE html>
<html lang="en">
<head>
  <title>GREEN LIGHT DFS</title>
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <div class="mx-auto mt-5 pt-5" style="width: 600px;">
      <h4 class="text-center text-success my-4">UPLOAD SLATE (<span class="text-body">{{today}}</span>)</h4>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
          <select class="form-control" name="data_source" required>
            <option value="">Choose Source</option>
            <option>DraftKings</option>
            <option>FanDuel</option>
          </select>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Slate Name" name="slate" required>
        </div>
        <div class="custom-file">
          <input type="file" class="custom-file-input" name="players_file" id="customFile" accept=".csv" required>
          <label class="custom-file-label" for="customFile">Players Information</label>
        </div>
        <div class="custom-file mt-3">
          <input type="file" class="custom-file-input" name="projection_file" id="customFile2" accept=".csv" required>
          <label class="custom-file-label" for="customFile2">Custom Projection</label>
        </div>

        <button type="submit" class="btn btn-primary float-right mt-4">Submit</button>
      </form>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script type="text/javascript">
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
  </script>
</body>
</html>
